body {
  margin: 0;
}

#wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#box {
  margin: auto;
  width: 78vw;
  height: 26vw;
  display: flex;
  overflow: hidden;
  align-self: auto;
}

#box img {
  border-radius: 10px;
  position: absolute;
  box-shadow: 5px 5px 15px 1px gray;
}

#img-back {
  width: 24vw;
  height: 16vw;
  
  transform: translate(27vw,0);
}

#img-left {
  width: 24vw;
  height: 16vw;
  
  transform: translate(0, 4vw);
}

#img-right {
  width: 24vw;
  height: 16vw;
  transform: translate(54vw, 4vw);
}

#img-font {
  width: 30vw;
  height: 20vw;
  transform: translate(24vw, 6vw)
}

#toleft-btn, #toright-btn {
  width: 6vw;
  height: 10vw;
  position: absolute;
  background-color: gray;
  visibility: hidden;
}

#toleft-btn {
  align-self: center;
}

#toright-btn {
  left: 83vw;
  align-self: center;
}

#box:hover #toleft-btn, #box:hover #toright-btn {
  visibility: visible;
}